.trend__item{
    padding: 12px 16px;
}
.trend__item:hover{
    background-color: rgb(233, 234, 234);
    transition: 0.3s;
}
.trend__item__subtitle{
    color: #536471;
    font-size: 13px;
}
.trend__item__title{
    color: #0F1419;
    font-size: 15px;

    margin: 2px 0 4px;
}